.corner-icon {
    position: absolute;
    width: 0;
    height: 0;
    border-width: 1rem;
    border-top-color: #6092E0;
    border-top-style: solid;
    border-left-style: solid;
    border-left-color: transparent;
    right: 0;
    top: 0;
}